<div class="logo">
    <img src="/img/google.png" alt="Google Logo" />
</div>
<form>
    <div class="input-wrapper">
    <input class="searchbar" type="text" />
    </div>
    <div class="button-wrapper">
    <button>Search</button>
    </div>
</form>